<div class="container">
  <div class="row">
   
    <app-inputfield-add-server-blueprint 
    (serverCreated) = "onAddServer($event)"
    (blueprintCreatedAlias) = "onAddBlueprint($event)"  >
    
    </app-inputfield-add-server-blueprint>
  </div>
  <hr>
  <div class="row">
  
    <app-server-element 
    *ngFor="let serverElement of serverElements"
          [elementalias] = "serverElement">
             <p>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
  </div>
</div>
